CHUNK_SIZE=1000
OVERLAP=200
PDF_DIR='.\\pdfContext'
OUTPUT_DIR='dist'
EMBEDDING_MODEL='all-MiniLM-L6-v2'
GENERATION_MODEL=<ollama_model_name>
EVALUATION_MODEL=gemini-2.5-flash
GOOGLE_API_KEY=<your_google_api_key>
